
.inter-header {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
#header{
    /*color: red;
    font-weight: 100;*/
    /*background-color:pink;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
}
input[type=checkbox] {
  display: none;
}
#mode-switch{
    padding-top: 24px;
    height: auto;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px;
}
#main-page{
    display: flex;
    justify-content: space=between;
    gap: 20px;
}
#searchform{
    width: 100%;
    display: block;
    align-items: center;
}
#searchbar{
    width: 100%;
}
.switch{
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}
.search_item{
    margin: 10px;
}
#booklist{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 32px;
    align-content: flex-start;
    col: 2;
}
.book-item{
    flex: 50%
}
.book-item h3{

}